<html>
<body class="hold-transition skin-yellow sidebar-mini" >
<div class="wrapper">

  <!-- header -->
<app-header></app-header>
  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
<app-menu></app-menu>

  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   <router-outlet></router-outlet>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
      </div>
      <strong>Copyright &copy; 2018 <a >Kavalus</a>.</strong> All rights
      reserved.
    </footer>
</div>
<!-- ./wrapper -->

</body>
</html>