<section class="content">
  <!-- Small boxes (Stat box) -->
  <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
      </ol>
    </section>
    <section class="content">
  <div class="row">
    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box " style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Applications</h3>

          <p style="color:white">Total Applications : 0</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-folder"></i>
        </div>
        <a [routerLink]="['/application']" style="color:#f69920!important" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  
    <!-- ./col -->
    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box" style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Resources</h3>

          <p style="color:white">Total Resources : 0</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-pie-chart"></i>
        </div>
        <a  href="#" class="small-box-footer" style="color:#f69920!important">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box " style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Resource Type</h3>

          <p style="color:white">Resource Type</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-files-o"></i>
        </div>
        <a style="color:#f69920!important" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box" style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Attributes</h3>

          <p style="color:white">Total Attributes : </p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-th"></i>
        </div>
        <a style="color:#f69920!important" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box" style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Policies</h3>

          <p style="color:white">Total Policies : 0</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-book"></i>
        </div>
        <a style="color:#f69920!important" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box" style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Users</h3>

          <p style="color:white">Total Users : 0</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-user"></i>
        </div>
        <a style="color:#f69920!important" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    </div>
  </section>
    </section>