<div class="content">
    <div class="container-fluid">
        <div class="row" >
            <div *ngFor="let menuItem of menuItems" class="col-md-4">
                <div class="card card-stats" [routerLink]="[menuItem.path]" >
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">{{menuItem.icon}}</i>
                    </div>
                    <div class="card-content">
                        <p class="category"></p>
                        <h4 class="title">{{menuItem.title}}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Get More info...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>