<section class="content">
  <!-- Small boxes (Stat box) -->
  <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb" style="background-color:#E8E8E8">
        <li><b><a [routerLink]="['/']" (click)="refresh()"  style="color:green;cursor:pointer"><i class="fa fa-home"></i> Home</a></b></li>
      </ol>
    </section>
    <section class="content">
  <div class="row">
    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box " style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Applications</h3>

          <p style="color:white">Total Applications : {{ apps?.length }} </p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-folder"></i>
        </div>
        <a [routerLink]="['/application']" style="color:#f69920!important" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  
    <!-- ./col -->
    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box" style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='arrow'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Resources</h3>

          <p style="color:white">Total Resources : {{ resources?.length }}</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-pie-chart"></i>
        </div>
        <a [routerLink]="['/resources']"  href="#" class="small-box-footer" style="color:#f69920!important">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box " style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">ResourceTypes</h3>

          <p style="color:white">Total Resource-Type : {{ resourceTypes?.length }}</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-files-o"></i>
        </div>
        <a  [routerLink]="['/resourceTypes']" style="color:#f69920!important" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box" style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Attributes</h3>

          <p style="color:white">Total Attributes : {{ attributes.Attributes?.length }}</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-th"></i>
        </div>
        <a [routerLink]="['/attributes']" style="color:#f69920!important" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box" style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Policies</h3>

          <p style="color:white">Total Policies : {{ policies?.length }}</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-book"></i>
        </div>
        <a [routerLink]="['/policies']" style="color:#f69920!important" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <!-- small box -->
      <div class="small-box" style="background-color:#222d32!important">
        <div class="inner">
          <h3 onmouseover="this.style.color='white'; cursor='pointer'" onmouseout="this.style.color='#b8c7ce';" style="color:#b8c7ce">Roles</h3>

          <p style="color:white">Total Roles : {{ roles?.length }}</p>
        </div>
        <div class="icon">
          <i style="color:#f69920!important" class="fa fa-users"></i>
        </div>
        <a [routerLink]="['/roles']" style="color:#f69920!important" href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    </div>
  </section>
    </section>