<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="row">
    <div class="col-md-8">
      <h1>
        Policies
        <small>view policy</small>
      </h1>
    </div>
    <div class="col-md-4">
      <ol id="ol" class="breadcrumb">
        <li class="active">
          <b>
            <a style="color:#00bcd4;" data-toggle="modal" data-target="#addModal" (click)="emptyarray()" >
              <i class="material-icons">add</i>Add</a>
          </b>
        </li>
        <li class="Reload">
          <b>
            <a style="color:#f44336;" (click)="refresh()">
              <i class="material-icons">autorenew</i>Reload</a>
          </b>
        </li>
        <li class="Reload">
          <b>
            <a style="color:#4caf50;" [routerLink]="['/dashboard']">
              <i class="material-icons">home</i>Home</a>
          </b>
        </li>
      </ol>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
    <div class="box-body">
      <div class="card-content table-responsive">
        <nav id="tablesearchbars">
          <input class="form-control" type="text" name="search" placeholder="Search Filter" [(ngModel)]="filter">      
        </nav>
        <table id="dt" class="table table-hover">
          <thead>
            <tr>
              <th (click)="sort('policy_name')" >Policy name <span class="material-icons" *ngIf="key =='policy_name'" [ngClass]="{'arrow_drop_down':reverse,'arrow_drop_up':!reverse}"></span> </th>
              <th (click)="sort('policy_type')" >Policy Type <span class="material-icons" *ngIf="key =='policy_type'" [ngClass]="{'arrow_drop_down':reverse,'arrow_drop_up':!reverse}"></span> </th>
              <th (click)="sort('policy_constrains')" >Policy Constrains <span class="material-icons" *ngIf="key =='policy_constrains'" [ngClass]="{'arrow_drop_down':reverse,'arrow_drop_up':!reverse}"></span> </th>
              <th (click)="sort('Principals')" >Principals <span class="material-icons" *ngIf="key =='Principals'" [ngClass]="{'arrow_drop_down':reverse,'arrow_drop_up':!reverse}"></span> </th>
              <th (click)="sort('Targets')" >Targets <span class="material-icons" *ngIf="key =='Targets'" [ngClass]="{'arrow_drop_down':reverse,'arrow_drop_up':!reverse}"></span> </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of fetchedpolicies | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p } ; let i=index">
              <td>{{p.policy_name}}</td>
              <td>{{p.policy_type}}</td>
              <td>{{p.policy_constrains}}</td>
              <td>
                |
                <span *ngFor="let popr of p.policy_principals"> <b>{{popr.type}}</b> >> {{popr.name}} | </span>
              </td>
              <td>
                |
                <span *ngFor="let reso of p.policy_targets">{{reso.resource_name}} | </span>
              </td>
              <td>
                  <a (click)="loadtargetactions(p._id);" data-toggle="modal" data-target="#info" style="color:#00bcd4">
                      <i class="material-icons">radio_button_checked</i>
                  </a>
                  <!-- &nbsp;&nbsp;&nbsp; -->
                  <a  (click)="editPolicy(p._id)" data-toggle="modal" data-target="#editModal"  style="color:#4caf50;">
                    <i class="material-icons">create</i>
                  </a>
                  <!-- &nbsp;&nbsp;&nbsp; -->
                  <a (click)="setDeletePolicy(p._id, p.policy_name)" data-toggle="modal" data-target="#deleteModal">
                      <i class="material-icons" style="color:#f44336;cursor:pointer">delete</i>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',backdropBackgroundColour: 'rgba(255,255,255,0.3)',primaryColour:'#ff9800',secondaryColour:'#ff9800',tertiaryColour:'#ff9800' }"></ngx-loading>
        
        <span style="text-align:right"><pagination-controls (pageChange)="p = $event"></pagination-controls></span>
      </div>
    </div>

  </div>

  <!-- Add modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">
            <b>Create Policy</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form" #pform="ngForm" (ngSubmit)="addPolicy(pform.value);pform.reset();">
            <div class="box-body">
              <div class="form-group">
                <label for="app_name">Policy Name</label>
                <input type="text" class="form-control" autocomplete="off" name="policy_name" id="policy_name" placeholder="Enter name for policy" ngModel required >
              </div>
              <div class="form-group">
                <label for="app_displayname">Policy type</label>
                <select class="form-control" name="policy_type"  id="policy_type" ngModel required>
                  <option value="grant" selected="selected" >Grant</option>
                  <option value="deny">Deny</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">policy constrains</label>
                <textarea class="form-control" name="policy_constrains" autocomplete="off" id="policy_constrains" rows="3" placeholder="Enter policy constrains" required
                  ngModel></textarea>
              </div>
              <h4>
                <b>Principals</b>
              </h4>
              <label>Toggle Between Roles Or Users and press + to Add to the Policy Principals</label>
              <div class="form-check">
                <a class="toggle-dropdown">
                  <i class="material-icons">supervisor_account</i>
                  <input class="form-check-input" type="radio" name="principaltype" value="role" [(ngModel)]="principaltype" (click)="changeppvalue(true)"> Roles
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </a>
                <a>
                  <i class="material-icons">account_box</i>
                  <input class="form-check-input" type="radio" name="principaltype" value="user" [(ngModel)]="principaltype" (click)="changeppvalue(false)"> Users
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </a>
              </div>
              <div *ngIf="select" class="form-group">
                <br>
                <div *ngIf="selectpp" style="display:inline-flex;width: 100%;">
                  <select class="form-control" style="width:100%;" name="pp" [(ngModel)]="pp">
                    <option *ngFor="let role of allroles" value="{{role._id}},{{role.Role_name}}">{{role.Role_name}}</option>
                  </select>
                  <button type="button" (click)="pushpolicyprincipal()" class="input-group-text btn-warning" id="basic-addon2">
                    <i class="material-icons">add</i>
                  </button>
                </div>
                <div *ngIf="!selectpp" style="display:inline-flex;width: 100%;">
                  <select class="form-control" style="width:100%;" name="pp" [(ngModel)]="pp">
                    <option *ngFor="let usr of allusers" value="{{usr._id}},{{usr.username}}">{{usr.username}}</option>
                  </select>
                  <button type="button" (click)="pushpolicyprincipal()" class="input-group-text btn-warning" id="basic-addon2">
                    <i class="material-icons">add</i>
                  </button>
                </div>
                <br>
                <br>
                <ul class="list-group">
                  <li class="list-group-item" style="background:whitesmoke;" *ngFor="let p of principalsarray;let i=index">{{p.name}}
                    <div style="float:right">
                      <i class="material-icons" (click)="removepolicyprincipal(index)">clear</i>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <h4>
                  <b>Targets</b>
                </h4>
                <label>Select Resources and press + to Add to the Policy Targets</label>
                <br>
                <div style="display:inline-flex;width: 100%;">
                  <select class="form-control" style="width:100%;" name="pt" id="pt" [(ngModel)]="pt">
                    <option *ngFor="let res of allresources" value="{{res._id}},{{res.res_name}}">{{res.res_name}}</option>
                  </select>
                  <button type="button" (click)='pushpolicytargets()' class="input-group-text btn-info" id="basic-addon2">
                    <i class="material-icons">add</i>
                  </button>
                </div>
                <br>
                <br>
                <ul class="list-group ">
                  <li class="list-group-item" style="background:whitesmoke;" *ngFor="let tn of targetsarray;let i=index">{{tn.resource_name}}
                    <div style="float:right">
                      <i class="material-icons" (click)="removepolicytarget(index)" >clear</i>
                    </div>
                  </li>
                </ul>
              </div>


            </div>
            <!-- /.box-body -->

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- End AddModal -->

  <!-- edit modal -->
  <div class="modal fade" id="editModal">
    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">
            <b>Create Policy</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form" #peditform="ngForm" (ngSubmit)="updatePolicy(policy_id,peditform.value);">
            <div class="box-body">
              <div class="form-group">
                <label for="app_name">Policy Name</label>
                <input type="text" class="form-control" autocomplete="off" name="policy_name" id="policy_name" placeholder="Enter name for policy" [(ngModel)]="policy_name" required >
              </div>
              <div class="form-group">
                <label for="app_displayname">Policy type</label>
                <select class="form-control" name="policy_type" id="policy_type" [(ngModel)]="policy_type" required>
                  <option value="grant" selected="selected" >Grant</option>
                  <option value="deny">Deny</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">policy constrains</label>
                <textarea class="form-control" name="policy_constrains" autocomplete="off" id="policy_constrains" rows="3" placeholder="Enter policy constrains" required
                  [(ngModel)]="policy_constrains" ></textarea>
              </div>
              <h4>
                <b>Principals</b>
              </h4>
              <label>Toggle Between Roles Or Users and press + to Add to the Policy Principals</label>
              <div class="form-check">
                <a class="toggle-dropdown">
                  <i class="material-icons">supervisor_account</i>
                  <input class="form-check-input" type="radio" name="principaltype" value="role" [(ngModel)]="principaltype" (click)="changeppvalue(true)"> Roles
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </a>
                <a>
                  <i class="material-icons">account_box</i>
                  <input class="form-check-input" type="radio" name="principaltype" value="user" [(ngModel)]="principaltype" (click)="changeppvalue(false)"> Users
                  <span class="circle">
                    <span class="check"></span>
                  </span>
                </a>
              </div>
              <div *ngIf="select" class="form-group">
                <br>
                <div *ngIf="selectpp" style="display:inline-flex;width: 100%;">
                  <select class="form-control" style="width:100%;" name="pp" [(ngModel)]="pp">
                    <option *ngFor="let role of allroles" value="{{role._id}},{{role.Role_name}}">{{role.Role_name}}</option>
                  </select>
                  <button type="button" (click)="pushpolicyprincipal()" class="input-group-text btn-warning" id="basic-addon2">
                    <i class="material-icons">add</i>
                  </button>
                </div>
                <div *ngIf="!selectpp" style="display:inline-flex;width: 100%;">
                  <select class="form-control" style="width:100%;" name="pp" [(ngModel)]="pp">
                    <option *ngFor="let usr of allusers" value="{{usr._id}},{{usr.username}}">{{usr.username}}</option>
                  </select>
                  <button type="button" (click)="pushpolicyprincipal()" class="input-group-text btn-warning" id="basic-addon2">
                    <i class="material-icons">add</i>
                  </button>
                </div>
                <br>
                <br>
                <ul class="list-group">
                  <li class="list-group-item" style="background:whitesmoke;" *ngFor="let p of principalsarray;let i=index">{{p.name}}
                    <div style="float:right">
                      <i class="material-icons" (click)="removepolicyprincipal(index)">clear</i>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <h4>
                  <b>Targets</b>
                </h4>
                <label>Select Resources and press + to Add to the Policy Targets</label>
                <br>
                <div style="display:inline-flex;width: 100%;">
                  <select class="form-control" style="width:100%;" name="pt" id="pt" [(ngModel)]="pt">
                    <option *ngFor="let res of allresources" value="{{res._id}},{{res.res_name}}">{{res.res_name}}</option>
                  </select>
                  <button type="button" (click)='pushpolicytargets()' class="input-group-text btn-info" id="basic-addon2">
                    <i class="material-icons">add</i>
                  </button>
                </div>
                <br>
                <br>
                <ul class="list-group ">
                  <li class="list-group-item" style="background:whitesmoke;" *ngFor="let tn of targetsarray;let i=index">{{tn.resource_name}}
                    <div style="float:right">
                      <i class="material-icons" (click)="removepolicytarget(index)" >clear</i>
                    </div>
                  </li>
                </ul>
              </div>


            </div>
            <!-- /.box-body -->

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- End editModal -->

  <!-- info Modal -->
  <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle">
              <b>{{policy_name}}</b>
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
          <span>Policy Type: {{policy_type}}</span>
          <p class="text-muted">Policy Constrains: {{policy_constrains}}</p>
          <hr>
          <h4>Principals</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ipp of principalsarray">
              <span class="is-primary">{{ipp.name}}
                <kbd style="float:right;">{{ipp.type}}</kbd>
              </span>
            </li>
          </ul>
          <hr>
          <h4>Targets</h4>
          <p>Initial Action States are not set , select action state by clicking the wrench button !</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ipt of targetsarray">
              <span class="is-primary">{{ipt.resource_name}}
                <a style="float:right;" data-toggle="modal" data-target="#showtargetactions" (click)="addTarget(ipt)" ><i class="material-icons">build</i></a>
              </span>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- info modal end -->

  <!-- ADD Targets -->

  <div class="modal fade" id="showtargetactions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLongTitle">
              <b>Policy Target Actions</b>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="text-muted">Select From Checkbox to enable actions.</p>
          </div>
          <div class="modal-body">
                    <p><b>Resources Name : {{SingleTargetResourceName}}</b></p>
                        <ul class="list-group">
                          <li class="list-group-item" style="background-color:transparent" *ngFor="let ta of singletargetactions;let i=index;" >
                          <div class="togglebutton">
                            <label>
                              <kbd><b>{{ta.action_name}}</b></kbd> : <input type="checkbox" data-toggle="toggle" [(ngModel)]="ta._id" (change)="pushtarget(policy_id,SingleTargetResource,ta.action_name,ta._id)" >
                              <kbd><< Click to update the action state ! </kbd>
                            </label>
                          </div>
                          </li>
                        </ul>
                        <p><b>Refer to the current actions state here !</b></p>
                        <ul class="list-group">
                          <li class="list-group-item" style="background-color:transparent" *ngFor="let action of actions"  >
                            <kbd><b>{{action.action_name}} : <a *ngIf="action.action_state">enabled</a> <a *ngIf="!action.action_state">disabled</a></b></kbd>
                          </li>
                        </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>  

  <!-- ADD Targets end -->

  <!-- Delete modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" style="color: red" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            <h4 class="modal-title" id="exampleModalLabel">Delete Application</h4>
            <hr style="border-top: 1px solid #000; margin-bottom:0;">
          </div>
          <div class="modal-body">
              <div>
                <h5>Are You Sure You Want To Delete {{policyNameToBeDeleted}} Policy?</h5>
              </div>
              
              <div class="modal-footer">
                <button type="button" (click)="deletePolicy(policyIdToBeDeleted)" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
              </div>
          </div>
        
        </div>
      </div>
    </div>

</section>
