
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="row">
      <div class="col-md-8">
        <h1>
          Resources
          <small>View Resource</small>
        </h1>
      </div>
      <div class="col-md-4">
        <ol id="ol" class="breadcrumb">
          <li class="active">
            <b>
              <a style="color:#00bcd4;" data-toggle="modal" data-target="#addModal">
                <i class="material-icons">add</i>Add</a>
            </b>
          </li>
          <li class="Reload">
            <b>
              <a style="color:#f44336;" (click)="refresh()">
                <i class="material-icons">autorenew</i>Releod</a>
            </b>
          </li>
          <li class="Reload">
            <b>
              <a style="color:#4caf50;" [routerLink]="['/dashboard']">
                <i class="material-icons">home</i>Home</a>
            </b>
          </li>
        </ol>
      </div>
    </div>
  
  </section>

  <!-- Main content -->
  <section class="content">
 
    <div class="box">
     
      <!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
        <table id="dt" class="table table-bordered table-hover" >
          <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th >Name</th>
            <th>Display name</th>
            <th>Resource Type name</th>
            <th>Application name</th>
            <th>Attributes</th>
            <!-- <th>Attribute value</th> -->
            <th >Description</th>
            <th >Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let res of resource; let i=index">
            <td>{{i+1}}</td>
            <td>{{res.res_name}}</td>
            <td>{{res.res_displayname}}</td>
            <td>
                <ng-container *ngFor="let restype of resourcetype">
                  <ng-container *ngIf="res.Resource_typeid == restype._id; then thenBlockApp"></ng-container>
                  <ng-template #thenBlockApp>
                  {{restype.resourceType_name}}
                  </ng-template>
                </ng-container>
            </td>
            <!-- <td>{{res.Resource_typeid}}</td> -->
            <td>
              <ng-container *ngFor="let application of applications">
                <ng-container *ngIf="res.application_id == application._id; then thenBlockApp"></ng-container>
                <ng-template #thenBlockApp>
                {{application.app_name}}
                </ng-template>
              </ng-container>
          </td>
            <!-- <td>{{res.application_id}}{{att.attribute_id+" | "}}</td> -->
            <td>
                <span *ngFor="let att of res.attribute_id"><ng-container *ngFor="let attr of attribute">
                    <ng-container *ngIf="att.attribute_id == attr._id; then thenBlockApp"></ng-container>
                    <ng-template #thenBlockApp>
                    {{attr.Name}} &nbsp; : &nbsp; {{att.attribute_value}} <br>
                    </ng-template>
                  </ng-container></span>
                <!-- <ng-container *ngFor="let attr of attribute">
                  <ng-container *ngIf="att.attribute_id == attr._id; then thenBlockApp"></ng-container>
                  <ng-template #thenBlockApp>
                  {{attr.Name}}
                  </ng-template>
                </ng-container> -->
            </td>
            <!-- <td>{{res.attribute_id}}</td> -->
            <!-- <td>{{res.attribute_value}}</td> -->
            <td>{{res.res_descrpition}}</td>
            <td><span (click)="editRes(res._id);fetchResourceType();fetchApplications();fetchAttribute();" data-toggle="modal" data-target="#updateModal"  > <i style="color:#4caf50;cursor:pointer" class="material-icons">create</i></span> &nbsp;&nbsp;&nbsp;<span (click)="setDeleteAttribute(res._id, res.res_name)" data-toggle="modal" data-target="#deleteModal"><i class="material-icons" style="cursor: pointer; color:red;">delete</i></span></td>
          </tr>
          <!-- [routerLink]="['/viewApplication',app._id]" -->
          </tbody>
          
        </table>
        </div>
      </div>
      <!-- /.box-body -->
    </div>

    <!-- /.box -->
  

        <!-- Add modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Resources</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form role="form" #aData = "ngForm"  (ngSubmit)="addNewRes(aData.value); aData.reset()">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="res_name">Resource Name</label>
                      <input autocomplete="off" type="text" class="form-control" name="res_name" id="res_name" placeholder="Enter name" ngModel>
                    </div>
                    <div class="form-group">
                      <label for="res_displayname">Resource Display name</label>
                      <input autocomplete="off" type="text" class="form-control" name="res_displayname" id="res_displayname" placeholder="Enter display name" ngModel>
                    </div>
                    <div class="form-group">
                      <label for="Resource_typeid">Resource Type</label>
                      <select class="form-control" name="Resource_typeid" id="Resource_typeid" placeholder="Select Resource Type name" ngModel>
                        <option *ngFor="let restype of resourcetype" value={{restype._id}}>{{restype.resourceType_name}}</option>
                      </select>
                    </div>
                    <!-- <div class="form-group">
                      <label for="application_id">Application Name</label>
                      <select class="form-control" name="application_id" id="application_id" placeholder="Select Application name" ngModel>
                        <option *ngFor="let app of applications" value={{app._id}}>{{app.app_name}}</option>
                      </select>
                    </div> -->
                    
                    <div class="form-group">
                      <label for="attribute_id">Attribute Name</label>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label for="attribute_value">Attribute Value</label>
                      <div class="row">
                          <div class="col-md-5" >
                            <!-- <input [(ngModel)]="newAction" name="newAction" type="text" placeholder="Add Action" class="form-control"> -->
                            <select class="form-control" name="attribute_id" id="attribute_id" placeholder="Select Attribute name" [(ngModel)]="attribute_id">
                                <option value="" selected disabled>Select Attribute</option> 

                              <option *ngFor="let att of attribute" value={{att._id}}>{{att.Name}}</option>
                              </select>
                          </div>
                         <div class="col-md-4">
                             <input autocomplete="off" type="text" class="form-control" name="attribute_value" id="attribute_value" placeholder="Enter Attribute value" [(ngModel)]="attribute_value">
                          </div>
                         <div class="col-md-1" style="text-align:right">
                           
                            <a  (click)="pushAction()" class="btn btn-success"><i class="material-icons">add</i></a>
                          </div>
                        </div>
                        <br>
                        <div>
                            <ul style=" height:130px; overflow-y: scroll;list-style: none;color: #686866;font-size: 15px;margin-left: -40px;margin-bottom:0px;">
                              <li *ngFor="let attr of attributes; let ind=index" style=" border-bottom: 1px solid #bfbfbf; background-color: #d7d7d7; padding: 7px 0px;margin-bottom: 1px;">
                                <i style="  cursor: pointer;position: relative; margin-top:5px;float: left;margin-left: 10px" class="fa 
                                fa-wrench"></i>&nbsp; &nbsp;
                                <ng-container *ngFor="let att of attribute">
                                    <ng-container *ngIf="attr.attribute_id == att._id; then thenBlockApp"></ng-container>
                                    <ng-template #thenBlockApp>
                                    {{att.Name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{attr.attribute_value}}
                                    </ng-template>
                                  </ng-container>
                                 
                                <span style="  cursor: pointer;position: relative;float: right;margin-right: 10px" (click)="removeAction(ind)"><i class="fa fa-times"></i></span>
                              </li>
                            </ul>
                          </div>
                    </div>
                    <!-- <div class="form-group">
                      <label for="attribute_value">Attribute Value</label>
                      <input type="text" class="form-control" name="attribute_value" id="attribute_value" placeholder="Enter Attribute value" ngModel>
                    </div> -->
                    <div class="form-group">
                      <label for="exampleInputEmail1">Resource Description</label>
                      <textarea autocomplete="off" class="form-control" name="res_descrpition" id="res_descrpition" placeholder="Enter description" ngModel></textarea>
                    </div>
                   
                  </div>
                  <!-- /.box-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            
            </div>
          </div>
        </div>

        <!-- End AddModal -->



             <!-- Update modal -->
             <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateModalLabel">Update Resources</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form role="form" #updateData = "ngForm"  (ngSubmit)="updateRes(updateData.value,uData._id); updateData.reset()">
                        <div class="box-body">
                          <div class="form-group">
                            <label for="res_name">Resource Name</label>
                            <input type="text" class="form-control" name="ures_name" id="ures_name" placeholder="Enter name" [(ngModel)]="uData.res_name">
                          </div>
                          <div class="form-group">
                            <label for="res_displayname">Resource Display name</label>
                            <input type="text" class="form-control" name="ures_displayname" id="ures_displayname" placeholder="Enter display name" [(ngModel)]="uData.res_displayname">
                          </div>
                          <div class="form-group">
                            <label for="Resource_typeid">Resource Type name</label>
                            <select class="form-control" name="uResource_typeid" id="uResource_typeid" placeholder="Select Resource Type name" [(ngModel)]="uData.Resource_typeid">
                              <option *ngFor="let restype of resourcetype" value={{restype._id}}>{{restype.resourceType_name}}</option>
                            </select>
                          </div>
                          <!-- <div class="form-group">
                            <label for="application_id">Application name</label>
                            <select class="form-control" name="uapplication_id" id="uapplication_id" placeholder="Select Application Type name" [(ngModel)]="uData.application_id">
                            <option *ngFor="let app of applications" value={{app._id}}>{{app.app_name}}</option>
                            </select>
                            </div> -->
                            <div class="form-group">
                                <label for="attribute_id">Attribute Name</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label for="attribute_value">Attribute Value</label>
                                <div class="row">
                                    <div class="col-md-5" >
                                      <!-- <input [(ngModel)]="newAction" name="newAction" type="text" placeholder="Add Action" class="form-control"> -->
                                      <select class="form-control" name="attribute_id" id="attribute_id" placeholder="Select Attribute name" [(ngModel)]="attribute_id">
                                        <option value="" selected disabled>Select Attribute</option> 
                                        <option *ngFor="let att of attribute" value={{att._id}}>{{att.Name}}</option>
                                        </select>
                                    </div>
                                   <div class="col-md-4">
                                       <input type="text" class="form-control" name="attribute_value" id="attribute_value" placeholder="Enter Attribute value" [(ngModel)]="attribute_value">
                                    </div>
                                   <div class="col-md-1" style="text-align:right">
                                     
                                      <a  (click)="pushAction()" class="btn btn-success"><i class="material-icons">add</i></a>
                                    </div>
                                  </div>
                                  <br>
                                  <div>
                                      <ul style=" height:130px; overflow-y: scroll;list-style: none;color: #686866;font-size: 15px;margin-left: -40px;margin-bottom:0px;">
                                        <li *ngFor="let attr of attributes; let ind=index" style=" border-bottom: 1px solid #bfbfbf; background-color: #d7d7d7; padding: 7px 0px;margin-bottom: 1px;">
                                          <i style="  cursor: pointer;position: relative; margin-top:5px;float: left;margin-left: 10px" class="fa 
                                          fa-wrench"></i>&nbsp; &nbsp;
                                          <ng-container *ngFor="let att of attribute">
                                              <ng-container *ngIf="attr.attribute_id == att._id; then thenBlockApp"></ng-container>
                                              <ng-template #thenBlockApp>
                                              {{att.Name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{attr.attribute_value}}
                                              </ng-template>
                                            </ng-container>
                                           
                                          <span style="  cursor: pointer;position: relative;float: right;margin-right: 10px" (click)="removeAction(ind)"><i class="fa fa-times"></i></span>
                                        </li>
                                      </ul>
                                    </div>
                            <!-- <select class="form-control" name="uattribute_id" id="uattribute_id" placeholder="Select Attribute name" [(ngModel)]="uData.attribute_id">
                            <option *ngFor="let att of attribute" value={{att._id}}>{{att.Name}}</option>
                          </select> -->
                          </div>
                          <!-- <div class="form-group">
                            <label for="attribute_value">Attribtue value</label>
                            <input type="text" class="form-control" name="uattribute_value" id="uattribute_value" placeholder="Enter Attribute value" [(ngModel)]="uData.attribute_value">
                          </div> -->
                          <div class="form-group">
                            <label for="exampleInputEmail1">Resource Description</label>
                            <textarea class="form-control" name="ures_descrpition" id="ures_descrpition" placeholder="Enter description" [(ngModel)]="uData.res_descrpition"></textarea>
                          </div>
                         
                        </div>
                        <!-- /.box-body -->
            
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          
                        </div>
                      </form>
                    </div>
                  
                  </div>
                </div>
              </div>
      
              <!-- End UpdateModal -->


              <!-- Delete modal -->
              <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" style="color: red" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        <h4 class="modal-title" id="exampleModalLabel">Delete Attribute</h4>
                        <hr style="border-top: 1px solid #000; margin-bottom:0;">
                      </div>
                      <div class="modal-body">
                          <div>
                            <h5>Are You Sure You Want To Delete {{attributeNameToBeDeleted}} Resource?</h5>
                          </div>
                          
                          <div class="modal-footer">
                            <button type="button" (click)="deleteRes(attributeIdToBeDeleted)" class="btn btn-primary">Yes</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                          </div>
                      </div>
                    
                    </div>
                  </div>
                </div>

        </section>
       
        