
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Roles
      <small>View Roles</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><b><a href=""  style="color:blue" (click)="fetchApplication()" data-toggle="modal" data-target="#addModal">&nbsp;&nbsp;<i class="fa fa-plus" ></i>&nbsp;&nbsp;Add</a></b></li>
      <li class="Reload"><b><a href="" style="color:red" (click)="refresh()"><i class="fa fa-repeat" ></i>&nbsp;&nbsp;Releod</a></b></li>
      <li class="Reload"><b><a href="" style="color:green" [routerLink]="['/dashboard']"><i class="	fa fa-home" ></i>&nbsp;&nbsp;Home</a></b></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
 
    <div class="box">
     
      <!-- /.box-header -->
      <div class="box-body">
        <table id="dt" class="table table-bordered table-hover" >
          <thead class="thead-inverse">
          <tr>
            <!-- <th style="width: 10%;">#Id</th> -->
            <th>#</th>
            <th >Name</th>
            <th>Application name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let role of role; let i= index">
            <td>{{i+1}}</td>
            <td>{{role.Role_name}}</td>
            <td>
                <ng-container *ngFor="let application of applications">
                    <ng-container *ngIf="role.Application_id == application._id; then thenBlockApp"></ng-container>
                    <ng-template #thenBlockApp>
                     <td>{{application.app_name}}</td>
                    </ng-template>
                </ng-container>
              <!-- {{role.Application_id}} -->
            </td>
            <td><span (click)="editRole(role._id)" data-toggle="modal" data-target="#updateModal"  ><i  style="color:green" class="fa fa-edit"></i></span> &nbsp;&nbsp;&nbsp;<span (click)="deleteRole(role._id)"><i class="fa fa-trash" style="color:red"></i></span></td>
          </tr>
          <!-- [routerLink]="['/viewApplication',app._id]" -->
          </tbody>
          
        </table>
      </div>
      <!-- /.box-body -->
    </div>

    <!-- /.box -->
  

        <!-- Add modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form role="form" #aData = "ngForm"  (ngSubmit)="addNewRole(aData.value); aData.reset()">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="Role_name">Role Name</label>
                      <input type="text" class="form-control" name="Role_name" id="Role_name" placeholder="Enter name" ngModel>
                    </div>
                    <div class="form-group">
                      <label for="Application_id">Application</label>
                      <select type="text" class="form-control" name="Application_id" id="Application_id" placeholder="Enter Application" ngModel>
                        <option value="" disabled="true" selected="true">Select Application</option>
                        <option *ngFor="let application of applications" value={{application._id}}>{{application.app_name}}</option>
                      </select>
                    </div>

                   
                  </div>
                  <!-- /.box-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            
            </div>
          </div>
        </div>

        <!-- End AddModal -->



             <!-- Update modal -->
             <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateModalLabel">Update Role</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form role="form" #updateData = "ngForm"  (ngSubmit)="updateRole(updateData.value,uData._id); updateData.reset()">
                        <div class="box-body">
                            <div class="form-group">
                            <label for="Role_name">Role Name</label>
                            <input type="text" class="form-control" name="uRole_name" id="uRole_name" placeholder="Enter name" [(ngModel)]="uData.Role_name">
                          </div>  
                          <div class="form-group">
                            <label for="Application_id">Application Name</label>
                            <select type="text" class="form-control" name="uApplication_id" id="uApplication_id" placeholder="Enter Application" [(ngModel)]="uData.Application_id">
                                <option value="" disabled="true" selected="true">Select Application</option>
                                <option *ngFor="let application of applications" value={{application._id}}>{{application.app_name}}</option>
                              </select>
                            <input type="text" class="form-control" name="uApplication_id" id="uApplication_id" placeholder="Enter name" [(ngModel)]="uData.Application_id">
                          </div>                       
                        </div>
                        <!-- /.box-body -->
            
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          
                        </div>
                      </form>
                    </div>
                  
                  </div>
                </div>
              </div>
      
              <!-- End UpdateModal -->

        </section>
       
        